@media (max-width: 739px) {
    .mobile {
        display: block;
    }
}

@media (min-width: 740px) and (max-width: 1023px) {
    .tablet {
        display: block;
    }
}


@media (min-width: 1024px) {
    .pc {
        display: block;
    }
}