*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    scroll-behavior: smooth;
}

/* Common */

.clear {
    clear: both;
}

.text-white {
    color: #fff !important;
}


.modal-color {
    background-color: #009688;
    color: #fff;
}

.text-center {
    text-align: center;
}

.width-45{
    width:45%;
}


.col {
    float: left;
    padding-left: 8px;
    padding-right: 8px;
}

.col-full {
    width: 100%;
}

.col-half {
    width: 49.9999%;
}

.col-third {
    float: left;
    width: 33.33333%;
}

.row {
    margin-left: -8px;
    margin-right: -8px;
}

.row::after {
    content: "";
    display: block;
    clear: both;
}

.mt-8 {
    margin-top: 8px !important;
}

.mt-16 {
    margin-top: 16px !important;
}

/* main */
#main {

}

#header {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    height: 46px;
    background-color: #000;
    color: #fff;
}

#nav {
    display: inline-block;
}

#nav, .subnav{
    list-style-type: none;
}

#nav > li {
    display: inline-block;
}

#nav li {
    position: relative;
}

#nav > li > a {
    color: #fff;
    text-transform: uppercase;
}

#nav li a {
    text-decoration: none;
    line-height: 46px;
    padding: 0 24px;
    display: block;
}

#nav li:hover .subnav {
    display: block;
}

#nav > li:hover > a,
#nav .subnav li:hover a {
    color: #000;
    background-color: #ccc;
}

#nav .subnav a {
    color: #000;
    padding: 0 12px;
    line-height: 38px;
    
}

#nav .subnav {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: #fff;color: #000;
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.3);
    display: none;
    min-width: 160px;
}

.nav-arrow-down {
    font-size: 14px;
}

.search-btn {
    float: right;
    line-height: 46px;
    padding: 0 12px;
}

.search-icon {
    
    color: #fff;
    font-size: 20px
}

#header .search-btn:hover {
    background-color: #f44336;
    cursor: pointer;
}

#slider {
    position: relative;
    margin-top: 46px;
    padding-top: 50%;
    background: url('/w3-band/assets/img/slider/slider1.jpg') top center / cover no-repeat;
    width: 100%;
}

#slider .text-content{
    position: absolute;
    bottom: 48px;
    color: #fff;
    left: 50%;
    transform:translateX(-50%);
    text-align: center;
}

.text-heading{
    font-weight: 300;
}

.text-description{
    margin-top: 25px;
}


#content {
    position: absolute;
    width: 100%;
}


.content-section {
    width: 800px;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding: 64px 16px;
    color: #000;
    
}

#content .section-heading {
    letter-spacing: 4px;
    font-size: 30px;
    font-weight: 200;
    text-align: center;
    text-transform: uppercase;
}

/* Begin content about the band */

#content .about {
    padding: 64px 0;
    margin: 0 auto;
}
#content .section-sub-heading {
    margin-top: 25px;
    font-size: 15px;
    text-align: center;
    font-style: italic;
    opacity: 0.6;
}

#content .about-text {
    margin-top: 25px;
    font-size: 15px;
    text-align: justify;
    line-height: 1.4;
}

/* Content Name and Img The band */

.member-list {
    margin-top: 48px;  
}

#content .member-name {
    margin-top: 15px;
    font-size: 15px;
}

.member-img {
    width: 154px;
    margin-top: 15px;
    border-radius: 4px;
}

/* Content Tour Dates */

.tour-section {
    margin: 0 auto;
    background-color: #000;
     
}

.tour-section .tickets {
    background-color: #fff;
    margin-top: 40px;
    padding: 0 8px;
}

.tickets li {
    font-size: 15px;
    padding: 8px 16px;
    line-height: 22px;
    color: #757575;
    list-style-type: none;
    border-bottom: 1px solid #ddd;
}

.tour-section .sold-out {
    background-color: #f44336;
    color: #fff;
    padding: 3px 7px;
    margin-left: 16px;
    text-align: center;
}

.tour-section .quatity {
    float: right;
    padding: 0 8px;
    color: #fff;
    background-color: #000;
    border-radius: 50%;
}

/* Buy Tickets  */

.tour-section .tour-ticket-address {
    max-width: 800px;
    margin-top: 32px;
    margin-bottom: 48px;
    background-color: #000;
}

.place-img:hover {
    opacity: 0.6;
}


.place-img {
    width: 100%;
    display: block;
}

.information-place {
    color: #000;
    background-color: #fff;
    padding: 0 16px;
    font-size: 15px;

}

.heading-place {
    font-weight: bolder;   
    padding: 15px 0;
}


.time-place {
    opacity: 0.60;
    margin-bottom: 15px;
}


.text-place {
    margin-bottom: 15px;
}

.onclick-buy-tickets {
    margin-bottom: 15px;
    background-color: #000;
    color: #fff;
    text-align: center;
    padding: 8px 16px;
    border: 1px #ccc;
}

/* Contact form */

.contact-work {
    display: flex;
    justify-content: space-between;
    width: 800px;
    max-width: 100%;
    margin-top: 48px;   
    margin-left: 0px;
}

.contact-info {
    font-size: 18px;
    line-height: 1.5;
}

.contact-info i[class*="ti-"] {
    width: 30px;
    display: inline-block;
}

/* Contact section */
.contact-form {
    font-size: 15px;
}

.contact-form .form-control {
    padding: 10px;
    border: 1px solid #ccc;
    width: 100%;
}

.form-submit-btn {
    background: #000;
    color: #fff;
    border: 1px solid #ccc;
    float: right;
    padding: 10px 16px;
}

.contact-information .input-all {
   display: flex;
   justify-content: space-between;
}

.input-name {
    width: 100%;
    margin-right: 8px;
}

.input-email {
    width: 100%;
}

.input-message {
    width: 100%;
    padding: 0 8px;
}

/* the band map */

.the-band-map {
    width: 100%;
}

.map {
    max-width: 100%;
    height: auto;
}
 /* footer */
#footer {
    color: #000;
    background-color: #f1f1f1;
    padding: 64px 16px;
    text-align: center;
    font-size: 24px;
    
}

.logo-social {
    display: inline-block;
}

.logo-social:hover {
    opacity: 0.6;
}

.text-footer {
    font-size: 15px;
}


/* Modal */

.modal {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.3);
    align-items: center;
    justify-content: center;
    padding-top: 100px;
    display: none;
}

.modal.open {
    display: flex;
}

.modal-container {
    background-color: #fff;
    min-height: 200px;
    min-width: calc(100%-32px);
    width: 600px;
    margin: 0 auto;
    animation: modalFadeIn ease .5s;
}

.modal-header {
    position: relative;
    height: 130px;
    padding: 32px 16px;
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10x 0;
    letter-spacing: 4px
}

.modal-heading-icon {
    padding-right: 16px;
}



.modal-close {
    position: absolute;
    top: 0;
    right: 0;
    line-height: 24px;
    padding: 8px 16px;
    opacity: 0.7;
    cursor: pointer;
}

.modal-body {
    padding: 16px;
}

.modal-label {
    display: block;
    font-size: 15px;
    margin: 15px 0;
}

.modal-input {
    width: 100%;
    font-size: 15px;
    padding: 10px;
    border: 1px solid #ccc;
}

.btn:hover {
    background: #ccc;
    color: #000;
    cursor: pointer;
}

#modal-button {
    width: 100%;
    padding: 16px;
    font-size: 15px;
    margin: 16px 0;
    text-transform: uppercase;
    cursor: pointer;
    opacity: 0.7;
}

.modal-close:hover, #modal-button:hover {
    opacity: 0.9;
    color :#000;
    background-color: #aaa;
}

.modal-footer {
   padding: 16px;
   text-align: right;
}

.modal-footer a {
    color: #2196F3;
}

@keyframes modalFadeIn {
    from {
        opacity: 0;
        transform: translateY(-130px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}